@import 'search-form';
nav {
    background: white;
    .nav-link {
        color: $primary-dark;
        &:hover {
            color: $primary-light;
        }
    }
}

.navbar {
    padding: 0;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand {
    border-right: solid 1px $primary-lighter;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    &:hover:after {
        font-family: "FontAwesome";
        content: "\f13d";
        padding-left: 5px;
    }
}

.nav-right {
    font-size: 1.4rem;
    .fa {
        color: $primary-dark;
        padding: 0 10px;
        &:hover {
            color: $primary-light;
        }
    }
}

// .navbar-toggler-icon {
//     background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M47h22M4 15h22M423h22'/%3e%3c/svg%3e");
// }