@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/jquery/dist/jquery.min.js";
@import 'norma';
@import 'variables';
@import 'mixins';
@import 'buttons';
body {
    max-width: $max-width;
    margin: auto;
    background: lightblue;
    color: white;
}