.btn {
    outline: none;
    border-color: transparent!important;
    ;
    &:hover {
        outline: none!important;
        border-color: transparent!important;
    }
}

.btn:active,
.btn:active,
.btn:focus,
.btn:focus,
.btn:hover,
.btn:hover {
    border: none !important;
    outline: none !important;
}

.btn-slide {
    box-shadow: inset 0px 0px 0 0 $green;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}

.btn-large {
    color: $white;
    background-color: $primary-light;
    display: inline-block;
    @extend .btn-slide;
    &:hover {
        color: white;
        box-shadow: inset 400px 0 0 0 $green;
    }
}

.fa-stack[data-count]:after {
    position: absolute;
    right: 10px;
    top: 0px;
    content: attr(data-count);
    font-size: 40%;
    padding: .6em;
    border-radius: 50%;
    line-height: .5em;
    color: $text-dusty;
    background-color: $green;
    text-align: center;
    border-style: $green solid;
}

.red-cart {
    color: $text-dusty;
}

.fa {
    color: $text-dusty;
}