//colors
$primary: #46091F;
$primary-light: #8F1742;
$olive: #222415;
$green: #30935D;
$orange: #C75A06;
$orange-light: #DD8C36;
$primary-lighter: #96A8C1;
$primary-dark: #2E1111;
$primary-darker: #140305;
$btn-color: #30935D;
$white: #fff;
$black: #000;
//text 
$text-dusty: #e4ddd3;
//width
$max-width: 1450px;
$full-width: 100%;
$mobile-portrait: 320px !default;
$mobile-landscape: 480px !default;
$tablet-portrait: 768px !default;
$tablet-landscape: 1024px !default;
$desktop: 1450px !default;